{{template "base" .}}

{{define "title"}}Stat page{{end}}
{{define "header"}}
<h1><a href='/'><img src="/static/img/logo.png" alt="logo"> Deepstat</a></h1>
{{end}}
{{define "main"}}
{{ .Html }}
{{ .Html_ }}
{{end}}